@import "normalize";
@import "uikit.min";
@import "uikit-rtl.min";

body{
     background: #B0E6E9;
}

main {
  display: flex;
    flex-direction: row;
 
}


.sidebar {
  width: 300px;
  background: #B0E6E9;
    padding: 5%;
}

section {
    padding: 10px;
}


.profile-img {
    width: 300px;
    border-radius: 50%;
}

.nav {
  list-style-type: none;
  text-align: center;
  padding-right: 30px;
    color: #eafdff;
}

a:link {
  text-decoration: none;
    color: #eafdff;
}

ul {
list-style-type: none;
text-align: left;
    color: #eafdff;
}

p, .uk-card-title {
    color: #eafdff;
}

h1 {
    text-align: center;
    color: #eafdff;
    margin: 0;
}

h2 {
    text-align: center;
    color: #eafdff;
    margin-top: 10px;
    font-size: 1.5em;
}

.uk-card {
  border: 3px solid #005A5E;
  background: #01939A;
 max-width: 450px;
}

img {
    width: 450px;
    padding: 10px;
}

